<!-- (php # 2 2019-06-10 Gaveøkonomi) -->
<!-- ($attrib_AC=0;) -->
<h1 id="gaveøkonomi-for-klimaets-skyld">Gaveøkonomi for klimaets skyld</h1>
<p><em>Av: Pål Saugstad / 2019-06-10 13:28:47</em></p>
<figure>
    <img src="img/bregner.jpg" width="700" height="447" alt="Bregner">
</figure>
<p>Det gir sosial status å gi gaver. Mottakeren av en gave føler ofte at hen står i en slags moralsk gjeld til gavegiveren. Det kan utløse en kjede av gaveoverrekkelser. Noen steder har dette vært en utbredt måte å organisere hele samfunn på. Gavene vil i så fall ikke bare være symbolske kjekt-og-ha gjenstander, men nyttige ting som mat og bygging av hus og andre livs-nødvendigheter.</p>
<p>I vårt velferds-samfunn har vi noe av det samme, bortsett fra at gavene er upersonlige. Jeg tenker da på trygdeytelser, pensjoner, og gratis skole- og helsetjenester. Dette er vedtatte &quot;gaver&quot; som blir gitt i form av penger eller tjenester. &quot;Giveren&quot; er fellesskapet via skatter og avgifter. I og med at det ikke er noen direkte kobling mellom en personlig giver og en personlig mottaker, så oppleves denne måten å redistribuere velstand på på en helt annen måte.</p>
<p>Giverene (skattebetalerene) føler ingen særlig glede ved giverdelen av transaksjonen. Mottakeren føler ofte ikke at de står i gjeld til noen, for den konkrete giveren er et offentlig kontor. Ofte, (og med rette), opplever mottakeren at ytelsen er en rettighet, ikke en gave.</p>
<p>Et ytterligere problem med denne modellen, er at den tilsynelatende ikke er bærekraftig. Utallige rapporter og analyser er laget som viser at velferdsytelsene kommer til å krympe framover. Kron-eksempelet er eldrebølgen, som kommer til å overskylle hele verden, i alle fall den delen av verden med sterkest økonomi.</p>
<p>Vi trenger en holdningsendring når det gjelder å forstå hvordan samfunnet fungerer, og hva vi kan gjøre for å få det til å fungerer bedre. Vi trenger en re-indoktrinering.</p>
<p>En grunntanke i vårt samfunn er at du må yte noe (arbeide) og hvis du er dyktig, så får du lønn. Det anses for å være på sin plass at lønnen minst motsvarer det arbeidet man har utført. Man vil ha så stor lønn som mulig slik at man kan skaffe seg minst sin andel av samfunnskaken, helst mer.</p>
<p>Dette er stikk motsatt logikk av det som er grunntanken i et gavesamfunn. Der er det slik at man først mottar &quot;lønn&quot;, og deretter føler man seg forpliktet til å gi en gjenytelse. Det gir mer status å gi en minst like stor gjenytelse som den man mottok. Grunnen til at dette kan fungere er at man i sin tur senere kan forvente at egen ytelse blir gjengjeldt med en enda større ytelse.</p>
<p>Begge disse måtene å tenke på gir opphav til vekst. I første tilfelle kan vi si at vekstimpulsen består av krav, i utgangspunktet en negativ eller usympatisk holdning, mens i siste tilfellet består vekstimpulsen av ønsket om å gjøre seg nyttig, en positiv eller sympatisk holdning.</p>
<p>Jeg tror dette er mye av grunnen til dannelsen av begrepet &quot;The Economic Man&quot;. Han er en egositisk type med full informasjon over markedet som alltid opererer for å maksimalisere sitt materielle utbytte. I en gaveøkonomi vil prototypen på en aktør heller være en altruistisk person som i stor grad tenker på og tar hensyn til sine medmennesker. På mange måter er vel dette en bedre beskrivelse av gjennomsnittsmennesket?</p>
<h2 id="det-er-nok-nå">Det er nok nå</h2>
<p>I vår nåværende øknonomi er det en konstant diskusjon om hva som driver veksten videre. De fleste analysene av klimakrisen tegner et framtidsscenario der fortsatt økonomisk vekst er et viktig kriterium. Hvorfor det? Det viser seg jo faktisk at veksten er svært lav i de sterkeste økonomiene. Det i seg selv sees på som en litt uforståelig tendens, hvorfor vil ikke økonomien vokse slik som den alltid har gjort? Etterspørsels-svikt er en nærliggende forklaring. I så fall, så er det vel ingen grunn til å vokse enda mer? Eneste grunn måtte være at alle systemene våre, bankvesenet og børsen ikke er bygget for tilbakegang. Tilbakegang er pr. definisjon krise. Tilbakegang gir en kaskade av problemer i form av arbeidsløshet, betalingsvansker, konkurser osv. Det er så innarbeidet at man blir sett på med måpende blikk hvis man overhodet tillater seg å spørre om det kan være noen mening med livet dersom økonomien ikke vokser. Jeg vil påstå at mange totalt indoktrinert på dette området, og at denne indoktrineringen er ett av vår tids aller største problem!</p>
<p>Hvordan forholder alt dette seg i en gaveøkonomi? Vil den altruistiske aktøren forlange vekst? Jeg synes det er enklere å tenke seg at veksten i en gaveøkonomi kan bremse opp nokså problemfritt. Vekstimpulsen blir jo her &quot;hemmet&quot; av at behovet for gaver blir mindre, ikke at lysten til å gi gaver blir mindre.</p>
<p>Kan man tenke seg et stort, komplisert samfunn som bygger på prinsippene i gaveøkonomien? Jeg tror absolutt det! Jeg tror faktisk det er en forutsetning for å kunne takle klimakrisen samtidig som ulikheten i samfunnet kan holdes på et lavt nivå. men det er endel historiefortelling som må til for at det skal fungere. Vi må rett og slett indoktrineres på en ny og bedre måte. Så derfor vil jeg gjerne starte indoktineringen her og nå. Hvis du er redd for indoktrinering må du stoppe å lese umiddelbart!</p>
<p>Dvs. indoktrineringen kommer litt lenger ned. Først en grov skisse av et samfunn der gaveøkonomi er et sentralt element.</p>
<h2 id="borgerlønn">Borgerlønn</h2>
<p><a href="https://no.wikipedia.org/wiki/Borgerl%C3%B8nn">Borgerlønn</a> er et viktig element i modellen. Borgerlønn kan assosieres med gaveøkonomi. I stedet for fysiske gaver, er her penger den initielle gaven.</p>
<p>Poenget med borgerlønn slik jeg tenker meg det, er først og fremst å bryte noen ustabile tilbakekoblinger og erstatte dem med et vesentlig enklere system som er stabilt. Et viktig element i dette er å forstå hva penger er, hva vi kan og ikke kan gjøre med dem, og hvilke egenskaper vi ønsker at penger skal ha. Og dette er svært viktig: Penger er ikke et naturgitt fenomen, vi finner ingen mønstere i naturen som ligner det aller minste på penger. Dermed kan vi definere hva vi ønsker at det skal være akkurat slik vi vil. Men, vi må være enige i definisjonen, i alle fall sånn omtrent enige, ellers blir det kaos. Mye av problemet med penger er at man har tenkt seg at de har et element av natur i seg. F. eks. at penger er en vare på lik linje med andre varer, og at de har en pris. Dette er en veldig vanlig tenkemåte, men veldig feil. Det finnes mange som har advart sterkt mot denne måten å tenke på, bl. a. Karl Polanyi i boken &quot;The Great Transformation/Den liberale utopi&quot;.</p>
<p>Slik man ofte tenker på samfunnet inklusive penger nå, så er det en slags stor maskin der pengene går rundt og rundt for å smøre maskinen, slik at man kan ekstrahere ressurser ut av jord og luft, omdanne det til gjenstander, bruke dem en stund, og så dumpe dem.</p>
<p>Det vi trenger er å tenke helt motsatt: Penger er lette å skape, og lette å dumpe, og kan godt skapes ett sted i systemet, gå lineært gjennom systemet motsatt vei av varer og tjenester, for så å bli dumpet et annet sted i systemet. De fysiske ressursene bør i størst mulig grad bevares, og når de er utslitte, bør de inngå i et sirkulært system slik at de gjenoppstår som nye produkter.</p>
<p>Borgerlønn <em>er</em> (slik jeg tenker på den) skapelsen av nye penger. Borgerlønn trenger ikke å bli &quot;finansiert&quot;, fordi borgerlønn er en omfordelings-mekanisme.</p>
<p>Uten en mekanisme for å fjerne penger, vil penger oppstå når de blir utbetalt til hver enkelt, og ha evig liv etter dette. La oss si at samlet borgerlønn-utbetaling må være 10% av eksisterende pengemengde pr. måned. Hver måned måtte i så fall utbetalingene vært 10% høyere enn måneden før. Det gir jo en ganske formidabel inflasjon. 10% pr. måned blir noe over en 3-dobling av pengemengden pr. år. Prisen på varer og tjenester må øke omtrent like mye. Hyperinflasjon, altså.</p>
<p>Men, det ville funket! Det er ingenting som må betales tilbake eller noe slikt, og selvom kurven for pengemenge-utviklingen er eksponensiell, så er ikke det noen krise i seg selv, siden penger ikke er noe fysisk, det er bare en regne-enhet. Av og til hadde man trengt å redefinere basisen for penge-enheten for at antall siffere i beløpene ikke skulle bli for store. Mao., hatt overganger som &quot;1000 gamle-kroner = 1 ny-krone&quot; sånn over natten i ny og ne. (Dette er jo noe ethvert pengesystem der man optimaliserer på en positiv stabil inflasjon trenger av og til.)</p>
<h2 id="avgifter">Avgifter</h2>
<p>En mekanisme for å fjerne penger kan likevel være gunstig. En kan tenke seg at skatter og avgifter er slike mekanismer. For å gjøre det enkelt, la oss tenke oss bare én avgiftstype, energi-avgift. Er det noe som kjennetenger samfunnet, så er det at økt energiforbruk øker velstanden. Høyt energiforbruk har dessverre også mange uønskede bi-effekter, som ødeleggelse av natur og utslipp av klimagasser. En generell energi-avgift kan altså være nokså sikker og stabil kilde til pengedestruksjon.</p>
<p>Her vil jeg nevne <a href="https://naturvernforbundet.no/klima/hva-er-karbonavgift-til-fordeling-kaf-article34560-126.html">Karbonskatt til fordeling (KAF)</a> som er foreslått fra flere hold. Det er en ordning der man tenker seg at innbetalt karbonskatt skal fordeles ut til alle. Jeg tenker heller at borgerlønn oppstår fra ingenting og at skatter og avgifter bare er destruksjon av penger. Det som er viktig er at disse to pengestrømmene ikke skal være like store. Man må alltid sørge for at borgerlønn-utbetalingene (pengeskapingen) er større enn skatte-innbetalingene (penge-destruksjonen), for ellers blir det ikke en positiv inflasjon. Moderat, stabil og forutsigbar inflasjon er bra! (Mellom 4% og 10% inflasjon i året, sånn omtrent.)</p>
<p>Men, tilbake til KAF og slikt. Idéen med KAF er å skattelegge det vi ønsker mindre av, energiproduksjon som øker CO2-nivået. Jeg synes <em>all</em> energiproduksjon bør med, også den som <em>ikke</em> øker CO2-nivået. En ulempe med fossil energi-produksjon er nemlig at mye av den blir borte i varme. Så hvis man regner skatten som en øre-avgift pr. kWh primær-energi, så vil en kunne sørge for at fossil-energi taper i forhold til fornybar energi. Vi ønsker jo ikke at enhver fjelltopp skal ha en vindmølle på seg heller, så hvorfor ikke systematisk skattlegge all energi? Merk at avgiften ikke skal være et prosent-påslag av prisen, den skal være et (inflasjonsjustert) ørebeløp i forhold til energi-innholdet i energikilden.</p>
<p>Denne avgiften kan ta helt over og erstatte moms også! Hvis all energiproduksjon har avgift, vil jo produkter som trenger mye energi i produksjonen bli dyre. Det vil gi et incentiv til å produsere varen på en så energieffektiv måte som mulig. Kraftkrevende industri kan naturligvis ikke ha noe unntak fra energiavgiftsregelen.</p>
<h2 id="lønn-og-skatt">Lønn og skatt</h2>
<p>I tillegg til borgerlønn for alle, så vil høyst sannsynlig lønn for utført arbeid bestå. Antakelig vil lønnsnivået synke slik at borgerlønn pluss ny lønn tilsvarer gammel lønn. Om arbeidsinntekt skal skattes eller ikke vil jeg ikke ta stilling til her.</p>
<h2 id="historien-om-samfunnet">Historien om samfunnet</h2>
<p>Systemet som er beskrevet over vil løse endel problemstillinger:</p>
<ul>
<li>Ulikhetene kan reduseres (borgerlønn)</li>
<li>Vi er ikke tvunget til å ha vekst (den altruistiske aktøren)</li>
<li>Energi-behovet blir lavere (fordi vi ikke trenger vekst)</li>
<li>Eldrebølgen er ikke noe problem (lavere behov for vekst frigjør hender til å bedrive omsorg)</li>
<li>Gjeldsgraden går drastisk ned (fordi vi har en ny mekanisme for skaping av penger)</li>
<li>Behovet for å utnytte jordens ressurser går ned</li>
<li>Utslipp av klimagasser blir sterkt redusert</li>
</ul>
<p>Eneste lille haken med opplegget er: Hvordan klare å fortelle folk at dette er mulig? Det er her behovet for indoktrinering slår til. Vi må prate et slikt system inn i vår bevissthet og sørge for at dagens &quot;naive fantasi&quot; blir morgendagens virkelighet.</p>
<p>Det er naturligvis en del tekniske detaljer som pengeskaping, pengedestruksjon avgift pr. energienhet som må redegjøres for. Samt sentralbankens rolle, obligasjoner, banksystemets rolle, delingen i økonomiske sektorer, osv.</p>
<p>Men det vanskeligste er nok dette med &quot;gaveoverrekkelsen&quot;. Er det rettferdig? Vil vi føle oss forpliktet til å gi en ytelse tilbake? Hvem er gaven fra? Hvorfor skal vi destruere penger? Er det samfunnets betaling til naturen for de ressursene vi henter ut, liksom? Er en forutsetning for at dette skal fungere at hele verden går over til denne samfunnsorganiseringen?</p>
<h2 id="svart-svane">Svart svane</h2>
<p>I økonomisk teori betyr begrepet <a href="https://no.wikipedia.org/wiki/Svart_svane-teorien">Svart svane</a> et paradigmeskifte, en ny metode eller tendens som er veldig lite sannsynlig men som kan vise seg å ha stor betydning, enten i negativ eller positiv retning. En samfunnsmodell bygd på prinsippene bak <a href="https://no.wikipedia.org/wiki/Gave%C3%B8konomi">gaveøkonomi</a> kan komme til å vise seg å være en positiv svart svane.</p>
<hr />
<h1 id="kommentarer">Kommentarer</h1>
<p>Jeg har fått noen kommentarer på denne teksten (versjonen som er datert 2019-06-10 13:28:47):</p>
<hr />
<div class="topic">
<p><strong>Erik skriver (2019-06-10 23:38):</strong></p>
<p>Hei Pål, da har jeg finlest dette innlegget et par ganger og har noen refleksjoner.</p>
<p>Først og fremst er dette viktige og interessante ideer som fortjener oppmerksomhet.</p>
<p>Det er dog et par grunnleggende problemer med framstillingen som lett kan ødelegge for mulighetene til å nå fram til flere enn noen få.</p>
<p>For meg er det essensielt å skille mellom problem og løsning. Alle de problemene du nevner er reelle, men du kan ikke uten videre ta alt dette til inntekt for &quot;gaveløsningen&quot;. Du hopper litt for rett på, for. meg.</p>
<p>Det er greit at du har et par kildehenvisninger, men jeg savner mer vitenskapelig bakgrunn. Jeg blir sittende igjen med et inntrykk av at dette er Påls ønsketenking, fjernt fra realisme og nøkternhet i forhold til den kompleksiteten som ligger i overgangen til et nytt system.</p>
<p>Er det gjennomtenkt når du først sier at det er et problem at ytelser fra det offentlige er upersonlige, for så å uten videre introdusere borgerlønn som en del av &quot;gavepakken&quot;?</p>
</div>
<hr />
<div class="topic">
<p><strong>Arne skriver (2019-06-11 20:16):</strong></p>
<p>Hei Pål!</p>
<p>Du tenker så det knaker, men når jeg skal prøve å følge deg inn i ditt hyperinflasjonssamfunn så strekker ikke min fantasi til. Hvordan skaffer man seg en leilighet i et slikt samfunn?</p>
<p>Når det gjelder gavepenger anser jeg gjengjeldelsesgaver som noe gammeldags. Min gamle stemor tør ikke ta i mot noe fra naboene fordi hun ikke kan gi noe tilbake. Jeg hjelper selvsagt dem som hjelper meg, men føler meg ikke bundet. Jeg bodde en gang på hybel hos en gammel mann som sa at det du har fått skal du gi videre. Min moral er hvis jeg får mye så gir jeg videre til dem som ikke har i stedet for å gi til dem som ga til meg. Det moderne prinsipp er frie gaver, altså gaver som gjør folk frie og ikke binder til gjengjeldelse.</p>
<p>Du skriver mye klokt om borgerlønn og det er en interessant diskusjon om hva som er en gave og hva som er en rettighet. En forutsetning for at et borgerlønnsamfunn skal utvikle seg er at vi slutter å tro at vi arbeider for å få lønn, men at vi innser at vi arbeider for å løse meningsfulle oppgaver. Det er en av de store utfordringene i vår tid å få flere til å innse at dette er en selvfølgelighet.</p>
<p>Når det gjelder det at penger må dø så er Rudolf Steiner inne på dette. Jeg skal gjøre en ny studie av hans foredragsrekke som kalles Samfundsøkonomi på dansk, i håp om å forstå det bedre. Men Steiner skildrer mellom kjøpepenger, lånepenger og gavepenger. Jeg har laget en forenklet versjon av dette i min bok. Kjøpepenger bruker vi i vår daglige handel. Lånepenger (Sparepenger) gir grunnlag for investeringer, men når investeringer har skapt overskudd så må disse pengen dø og ikke gå videre i spekulativ virksomhet. Måten de dør på er at de går tilbake til å bli gavepenger. Penger som kan stimulere utviklingen av et fritt kulturliv som blant annet kan inspirere oss til å forstå at vi faktisk arbeider for å løse oppgaver.</p>
</div>
<hr />
<div class="topic">
<p><strong>Mine svar til Erik og Arne (2019-06-13 21:45):</strong></p>
<p>Dette synes jeg var nyttige kommentarer. Jeg ser nå at endel momenter må endres, og at teksten ville blitt tydeligere dersom jeg inkluderte noen flere referanser. Jeg ble f. eks. inspirert til å skrive om 'svart svane' når jeg leste Equinors <a href="https://www.equinor.com/en/how-and-why/energy-perspectives.html">Energy Perspectives 2019</a>. Der omtaler de svarte svaner. Disse er rimelig fysiske av natur, mens jeg tenker (ønsketenker...) at en svart svane like gjerne kan være en ny politisk/sosial idé. Avveiingen mht. referanser blir hvor lang en slik tekst skal være i forhold til hvor grundig den blir.</p>
<p>Det slår meg at seksjonen med hyperinflasjon bør endres sterkt. Grunnen til det er at dette er kun er en teoretisk betraktning innenfor en veldig enkel modell som er så overforenklet at den aldri kan ha noe med &quot;virkeligheten&quot; å gjøre. Momentet med at det må skapes nye penger, flere enn de som blir 'ødelagt', er det som er vesentlig her. Det er flere 'skoler' som er inne på dette, f. eks. Positive Penger (Danmark). Varianter av dette finnes også, men ikke alltid som inflasjon. Poenget er at penger må miste verdi med tiden. Silvio Gesell foreslo (og det er testet ut) et system med frimerker som måtte klistres på pengesedlene regelmessig. Charles Eisenstein har videreført Gesells tanker i form av et pengesystem uten kontanter men med negativ rente. I de to siste systemene kan pengemengden være konstant og de blir likevel mindre verdt med tiden.</p>
<p>De 7 punktene jeg har i listen over fordeler er selvfølgelig tildels overdrevet, og er på ingen måte sikker på at det er dekning for alle. Sånn sett har Erik helt rett i at dette er min ønsketenkning! Jeg prøver vel heller ikke å legge skjul på at dette er tildels basert på ønsketenkning, jeg bruker vendinger som &quot;Borgerlønn kan assosieres med gaveøkonomi&quot;. Jeg er litt usikker selv på om dette holder i en grundigere analyse. Enkelte resultater av forsøk med borgerlønn har vel vist at mottak av en fast penge-ytelse kan sette igang positive prosesser. Jeg skriver også om indoktrinering. Den alminnelige måten å se samfunnet på, f. eks. at vi bare må ha vekst, kan ikke rokkes ved uten at mange nok får motforestillinger mot det, og det er jo mer eller mindre ønksetenkning at noe vesentlig skal skje her (men du verden så nødvendig).</p>
<p>Både Arne og Erik trekker fram hva gaveøkonomi egentlig er, og om det kan kobles til borgerlønn. Arne sier at gaveøkonomi også har en negativ side ved seg, nemlig forventningen om gjenytelse. Helt enig, det har slått meg også i det lille jeg har lest om gaveøkonomi, så kanksje det det å trekke inn gaveøkonomi er et feilgrep fra min side? På sitt beste er jo gaveøkonomi bra, da. Borgerlønn på sitt beste kan jo komme til å fungere bra, i og med at folk allerede nå yter ganske mye for felleskapet uten betaling (i frivillige organisasjoner ol.)</p>
<p>Når det gjelder Steinar Rudolfs tanker om penger som Arne skriver om, så er dette noe jeg må lese mer om. Jeg hopper jo også glatt over slike ting som banklån og investeringer i min tekst. Dette er jo naturligvis noe som må med i en grundigere tekst, men poenget mitt var jo å koble sammen gaveøkonomi, borgerlønn, KAF, nullvekst, negativ vekst uten katastrofale følger vha. &quot;kunstig&quot; inflasjon i en ikke altfor lang tekst. Mulig jeg lyktes bedre i mitt eget hode en enhver annens hode, jeg vet ikke jeg...</p>
</div>
<hr />
<div class="topic">
<p><strong>Andrea skriver (2019-06-21 21:35):</strong></p>
</div>
<p>Hei Pål, nu har jeg endelig læst din blogpost!</p>
<p>Gode overvejelser du har, synes jeg! Og jeg synes altid det er fedt og kontruktivt med diskussion og overvejelser rundt potentielle nye organiseringer af pengesystemet.</p>
<p>Her er alligevel et par kritiske kommentarer:</p>
<ol style="list-style-type: decimal">
<li>Jeg tror netop, at det at gavemodtageren føler at den skylde noget tilgengæld er det der gør, at det er hårdt at være på overførselsindkomst længe, og som bidrager til stigmatiseringen af folk på langtidsoverførselsindkomst! Modtageren føler at man ikke kan give samfundet det tilbage som man burde. Især når der oveniløbet er regler om at man ikke <strong>har lov</strong> at bidrage med den smule man kan - f.eks arbejde et par timer om ugen.</li>
<li>Jeg tror egentlig ikke man kan kategorisere nogle samfund som &quot;gaveøkonomier&quot; og andre som &quot;pengeøkonomier&quot;. Jeg tror alle økonomier/samfund indeholder elementer af begge. F.eks er familierelationer oftest bygget op om gaverelationer, mens arbejdstager/giver-relationer er baseret på penge. De to typer relationer fungerer sideløbende i det samme samfund/den samme økonomi.</li>
<li>Jeg synes også der er noget der bliver lidt fejl ved at lave skillet baseret på rækkefølgen i ydelsen, - for det kommer jo an på hvis perspektiv man ser det fra. Jeg &quot;giver&quot; jo min arbejdskraft til min arbejdsplads <strong>før</strong> jeg får løn. Omvendt <strong>kræver</strong> jeg mad, husly og omsorg af min mor <strong>før</strong> jeg begynder at hjælpe hende med at reparere huset, når hun bliver ældre og jeg bliver voksen.</li>
</ol>
<p>Har du læst David Graeber <em>Debt - the first 5000 years</em>? Den er virklig god og handler akkurat om dette.</p>
<p>Bortset fra det er jeg helt for borgerlønn!! Jeg har nu ikke tænkt på om det ha inflydelse på vækstpresset i økonomien - spændende tanke. Måske især pga det lavere gældpres på individet?</p>
<p>Positive Money og Ole Bjerg har forsøgt at argumentere for at det nuværende system hvor penge er <em>rentebærende</em> gæld skaber vækstpresset.</p>
<p>Vi kan snakke mere om dette senere!</p>
<hr />
<div class="topic">
<p><strong>Mitt svar til Andrea (2019-06-21 23:00):</strong></p>
</div>
<p>Takk Andrea!</p>
<p>Det du skriver om stigmatisering har jeg også fundert over. Dette blir litt diskusjonen om hva som er best av Job Guarantee (JG) eller Borgerlønn (UBI). JG-forkjemperene mener det du uttrykker, at UBI kan skyve mennesker ut av felleskapet. Jeg tror at man gjerne kan tenke seg at man både har UBI og JG samtidig, men jeg tror det er enda viktigere at man revurderer hva som skal være full arbeidsuke med jevne mellomrom. Det er ingen naturlov som sier at 100% stilling = 40 timer pr. uke. &quot;Full stilling&quot; er et tøyelig begrep, og må tilpasses etter hvilken grad av automatisering man velger.</p>
<p>Men det du sier om å <strong>ha lov</strong> til å arbeide ser jeg ikke som noen problemstilling. Det er jo nettopp styrken ved borgerlønn (UBI) at den gis uten behovsprøving, man får like mye uansett hvor mye eller lite man arbeider, og lønn for arbeid kommer alltid i tillegg til borgerlønnen.</p>
<p>Jeg er enig i at alle samfunn består av gaveøkonomi til en viss grad. Poenget mitt er at man vanligvis ser på det som tvingende nødvendig at kun en brøkdel av økonomien <strong>kan</strong> være gaveøkonomi. Jeg prøver å argumentere for at det går fint å tenke seg at store deler av økonomien er bygd opp etter gaveøkonomi-prinsippet.</p>
<p>Du har et godt poeng når du sier at det kommer an på perspektivet man ser ting (ytelse/lønn), i alle fall dersom man tenker analogt med at penger og gjeld er det samme sett fra hver sin side, og jeg trenger antakeligvis å lese <em>Debt - the first 5000 years</em>!</p>
<p>Positive Money/Ole Bjergs betraktinger om <em>rentebærende gjeld</em> er indirekte inkludert i min tekst. Jeg sier jo at Borgerlønn kan være penger som oppstår fra ingenting. Det jeg ikke sier, (men som er underforstått), er at når man skaper penger, må man regnskapsmessig samtidig føre en motpost. Dette <strong>er</strong> gjeldsposten, men man kan definere at denne gjelden er rentefri og evigvarende, og at det er &quot;samfunnet&quot; som er skyldneren (slik som Positive Money også gjør). Dersom man (av en eller annen merkelig grunn) ved lov forbyr at en slik gjeldspost kan være rentefri og evigvarende, da er man plutselig i samme uføre som vi nå har!</p>
<hr />
<div class="topic">
<p><strong>Andrea skriver (2019-06-25 15:38):</strong></p>
</div>
<p>Hei igen, et svar til dit svar:</p>
<p>JG vs. UBI:</p>
<p>Ja en kombination af de to kunne sikkert være smart på mange måder. Det vigtige er vel at også dem der faktisk ikke er i stand til at arbejde også har råd til at leve. Og at antallet (ugentlige) arbejdstimer er fleksibelt for hver enkelt person uansett løsning, som du også skriver.</p>
<p>Rentebærende gjeld:</p>
<p>Det kan vel være kontruktivt at tænke på hele <em>tre</em> forskellige mulige typer penge (som vel sånn set alle opstår ut af en form for &quot;ingenting&quot; - i modsætning til varepenge (fx guld)):</p>
<ol style="list-style-type: decimal">
<li>Gæld, der må betales tilbage OG som er rentebærende (fx de nuværende elektroniske penge som skabes af private banker) - det et disse som Ole Bjerg og Positive Money foreslår er med til at opretteholde vækstpresset i økonomien, for hvad skal man betale de ekstra renter med, ud over de der opstod ved lånet? - Et nyt lån selvfølgelig! Og så videre.....!</li>
<li>Gæld med uendelig løbetid, som ikke er rentebærende (fx kontanter, som skabes af staten)</li>
<li>Penge som hverken er gæld eller rentebærende (det er vel her en længere diskussion om man mener statens penge teknisk set er gæld eller ikke, hvis den aldrig må betales tilbage, og der ikke er en specifik person som har optaget gælden, men pengene snarere er <em>brugt</em> ind i økonomien - Gode Penge/Positive Moneys forslag til et nyt Sovereign Money system. På den anden side kan man vel som MMT'ere nok vil si, at &quot;gælden&quot; betales løbende tilbage i form af skatter og afgifter, hvorfor man netop ikke blir nødt til at devaluere den kontinerligt stigende pengemængde hele tiden).</li>
</ol>
<hr />
<a name="C2019-06-30-19-00"></a>
<div class="topic">
<p><strong>Mitt svar til Andrea (2019-06-30 19:00):</strong></p>
</div>
<p>Det du skriver om Ole Bjergs oppfattelse av vekst-tvang med begrunnelse i renter på lån er interessant. Han var jo innleder på Rethinking Economics sitt seminar, <a href="https://www.facebook.com/events/308400183220530/">Rethinking Sustainability 9. februar 2019</a>. I innledningen sa han selv at 'bevisene' for vekst-tvang på bakgrunn av rente-betraktninger ikke er enkle å legge fram på en vitenskapelig måte. (Det er mulig at innledningen finnes på video, jeg finner muligens tilbake til hans formulering senere...)</p>
<p>Dette er det jeg oppfatter som vanskeligheten med bevis-førselen: Problemet med å betale &quot;de ekstra renter&quot; er ikke så stort som man først skulle tro, fordi penger sirkulerer. I den tradisjonelle fortellingen sies det jo at de ekstra rentene som kreves inn ikke eksisterer, fordi de ikke er en del av den opprinnelige pengemengden. Men i og med at penger sirkulerer, så kan pengeinnkreveren bruke de innkrevde pengene tilbake i økonomien som en konsekvens av at pengeinnkreveren også er en aktør i økonomien. Slik kan &quot;den samme pengeseddelen&quot; inngå i innbetaling av renter flere ganger, siden ikke alle rente-pengene og avdragene forlanges tilbake-betalt samtidig. Altså, skyldneren får 'tilfeldigvis' hånd om de samme pengesedlene med noen måneders mellomrom pga. aktiviteten i økonomien.</p>
<p>Til tross for dette resonnementet som kan tyde på at det ikke i det hele tatt finnes noe problem ved vårt nåværende pengesystem, så tror jeg denne problemstillingen har en viss relevans. Det er jo uten tvil slik at alle penger vil forsvinne dersom alle prøvde å betale tilbake lånene sine. Det oppstår problemer dersom økonomien går tregt slik at ingen ønsker å ta opp lån, fordi man da er på grensen til at pengemengden er synkende, hvilket gir alle typer økonomiske problemer, bl. a. problemer med å 'finne' penger som kan brukes til å betale tilbake lån.</p>
<p>Så vårt nåværende system er mye enklere å håndtere dersom vi har økonomisk vekst, en vekst som (etter min mening) ikke kan fortsette evig. Noen økonomer 'løser' dette problemet ved å si, 'Joda, vi kan ha evig vekst', og vip(p)s, så trenger han ikke bry seg om at systemet blir ustabilt når vi ikke har vekst.</p>
<p>Forøvrig tror jeg det er viktig å være klar over at det ikke er kun feil ved pengesystemet som gir oss tvangen, eller lysten, til å vokse. Det er andre faktorer også, som f. eks. lysten til å løse en arbeidsoppgave mer effektivt, nysgjerrighet over hvordan naturfenomener henger sammen, ønket om å leve et behagelig liv, osv.</p>
<p>Problemet er (slik jeg ser det), at det kan jo tenkes at de fleste behagelighets-problemer blir bortimot løst, og at det da er om å gjøre å kunne la systemene vi omgir oss med fungere i en tilstand der vi ikke <em>ønsker</em> mer vekst av det kvantitative slaget. På dette punktet feiler systemene være nå, blant andre ting, også pengesystemet.</p>
<p>Når det gjelder alle de tre punktene dine samlet sett, så har jeg et svar her: <a href="http://saugstad.net/folkekapital">Folkekapital</a> er et ment som et konsept som forbedrer pengesystemet i samme retning som forslaget til <a href="https://positivemoney.org/">Positive Money</a>. Med Folkekapital vil ikke bankene bli fratatt all rett til å skape penger (slik som Positive Money vil), men de vil bli pålagt å utstede evigvarende rentefrie penger vha. obligasjoner utstedt av en offentlig kontrollert organisasjon. Funksjonen til denne organisasjonen blir antakelig på linje med Positve Money sin komité som skal bestemme nivået på pengemengden. I Folkekapital-forslaget har jeg ikke det skarpe skillet mellom pengeskaping og pengeformidling slik som Positive Money vil ha. Jeg tror det er mer realistisk å få gjennomslag for et Folkekapital enn for forslaget til Positive Money, og det de har felles er evnen til å kunne fungere i et klima der vi har nullvekst eller svak negativ vekst.</p>
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Gaveøkonomi for klimaets skyld">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/gaveokonomi/nor/gaveokonomi.pdf">som pdf</a>
