<!-- (php # 2 2019-04-12 Long Waves) -->
<!-- ($attrib_AC=0;) -->
<h1 id="th-way-explore-the-long-waves">8th Way, Explore the Long Waves</h1>
<p><em>By: Pål Saugstad / 2019-04-12 23:40</em></p>
<p>The economist of the 21st century must be able to explain the Long Waves and suggest how to even them out.</p>
<p>Kondratiev and others have studied long economic waves already, but I don't think we ever will be have a final answer. There are so many different activities to consider when talking about waves.</p>
<p>I think economists should put technological issues in the background and instead focus on democracy, competitiveness, conflicts, crisis and war, as one sort of wave phenomenon.</p>
<p>Instead of building a beautiful harmonious economic theory where such such things as economic crisis and wars are regarded as externalities, those things should be an integrated part of the long wave economic theory. If so one would see that there are patterns where economic growth, inequalities, crisis and wars are interlinked and have a certain degree of repetitiveness about them.</p>
<p>The 'normal' pattern, an about 100 to 200 year long wave, is that inequality increases, then the conflict level increases, then a big financial crises and a big war 'takes care' of the social limits to growth. After these events we say: Never Again! Financial measures are implemented, but even more importantly, everybody are busy building up the society again. A new era of economic growth can start and continue for 100 years more.</p>
<p>Since we are riding along on this ever changing trip through time, this big social experiment that we call 'reality', it is almost impossible to take a few steps back and study The System.</p>
<p>Nevertheless, it is really important to try to do so.</p>
<p>One area to focus on is analyzing how the financial sector, including the banks, are set up. These sectors are governed by a set of rules that are possible to alter. The current rules are most likely not optimal. One indicator is that ever more people are made dependent of a successful financial sector since ever more people are encouraged to stacks up savings in pension funds.</p>
<p>One effect is that money flows into the money-creation sector (away from the money holding sector) and thus shifts the relationship between the money supply and the debt level to the worse. Another effect is that everybody will loose (some of) their pension if the pension funds fail, and thus we all become dependent of economic growth. Economic growth slows down when a society becomes richer (there are empirical evidence, and the Solow Growth Model suggests this), which in turn increases the probability that the finance sector will collapse.</p>
<p>Well, maybe this analysis isn't entirely correct, but the economist of the 21st century have to figure it out, and explain it in a way that makes everybody understand what is on stake!</p>
<p>The economist of the 21st century must bring forward convincing suggestions of how to deal with long waves in a peaceful manner. The economist of the 21st century must make everybody understand that we are all in the same boat and that we have to solve this together.</p>
<hr />
<h1 id="comments">Comments</h1>
<hr />
<div class="topic">
<p><strong>(2019-06-15 12:30):</strong></p>
<p>This was my entry for the competition <a href="https://www.kateraworth.com/8thwaycompetition/">What’s the 8th Way to Think Like a 21st Century Economist?</a> by <a href="http://www.rethinkeconomics.org/">Rethinking Economics</a> and <a href="https://www.kateraworth.com/doughnut/">Doughnut Economics</a>.</p>
<p>My entry can be found <a href="https://www.7vortex.com/ecosystems/d8b41fd2-886d-4191-98e1-8f2bb900fba5/view">here</a> where it is one of eight contributions which are connected to the 'Long Term' bubble. (See more information about the competition <a href="https://www.kateraworth.com/2019/06/06/hive-mind-whats-the-8th-way-to-think-like-a-21st-century-economist/">here</a>)</p>
</div>
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Long waves">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/long-waves/nor/long-waves.pdf">pdf version</a>
