<!-- (php # 2 2017-11-19 Oljefondet) -->
<!-- ($attrib_AC=0;) -->
<h1 id="oljefondet">Oljefondet</h1>
<p><em>Av: Pål Saugstad / 2017-11-19 09:41</em></p>
<p>Jeg får det ikke til å stemme at oljefondet, eller Statens Pensjonsfond Utland (SPU), er nødvendig for å sikre velferdsstaten.</p>
<p>Hvis en nasjon har en naturressurs eller generelt er flittige og arbeidsomme, så vil nasjonen ofte eksportere mer enn den importerer. Dette overskuddet kan brukes til å betale ned gammel gjeld til utlandet. Deretter, hvis man fortsetter netto eksport, kan man begynne å investere i utenlandske aksjer, verdipapirer og eiendom.</p>
<p>Nasjonen velger altså å sysselsette flere enn den trenger for egen drift. Dette ser vi lettere dersom vi reformulerer litt:</p>
<p>Tenk deg at vi har en virksomhet som det overhodet ikke er noen innenlandsk etterspørsel etter, og som er basert på en innenlandsk naturressurs. I utlandet er det stor etterspørsel etter dette. En ren eksport-bransje oppstår.</p>
<p>Noe av landets arbeidskraft går med til ren produksjon for utenlandske forbrukere. Dette overskuddet <em>kan</em> brukes til å importere varer som vi overlater til utlandet å produsere. Dette vil i så fall føre til at det blir mindre behov for innenlandsk arbeidkraft på disse andre områdene. Denne erkjennelsen, tap av arbeidsplasser, fører ofte til at man ikke går inn for en balansert handel, men heller prøver å være netto eksportør. Man må bygge opp et utenlandsfond for å kompensere for denne ubalansen.</p>
<p>Dette er i praksis bare å forskyve problemet med innenlandsk arbeidsløshet framover i tid. Den dagen man begynner med netto import og dermed kan bruke av fondet, vil man samtidig minske behovet innenlandske arbeidsplasser. Ut fra dette perspektivet vil framtidige generasjoner ikke nyte særlig godt av et stort utenlandsk fond; det vil kun føre til høyere arbeidsløshet.</p>
<p>Riktignok sies det at vi aldri skal bruke opp fondet. Vi skal bare bruke avkastningen av det. Dette skal sånn pengemessig sett da være penger som bare ramler inn i det innenlandske systemet, omtrent som helikopterpenger (beskrevet av Milton Friedman 1969 bl. a.).</p>
<p>La oss si at disse pengene blir brukt direkte til å betale ut pensjon til pensjonister i norske kroner (fondet heter jo tross alt Statens Pensjonsfond Utland). Store beløp av utenlandsk valuta må veksles til norske kroner i Norges Bank, hvilket i prinsippet faktisk kan gjøres. Norges Bank oppretter i så fall nye norske kroner (som ikke fantes fra før) med den utenlandske valutaen som verdi-backing. Haken er at dette fører til at valutaen havner i Norges Bank og blir der (med svært lav avkastning) fram til evt. noen vil veksle tilbake for å kjøpe utenlandske varer eller investere i utenlandske verdipapier igjen. I en slik vekslings-operasjon forsvinner norske kroner igjen, så da er vi like langt; Enten fortrenger man norske arbeidsplasser ved at man kjøper utenlandske varer, eller så gjenoppstår formuen som utenlandske investeringer.</p>
<p>Det som <em>er</em> riktig, er at hvis vi ikke hadde hatt oljen, ville vi kanskje vært et land med stor gjeld overfor utlandet, og når oljeeventyret tar slutt, må vi ha en annen næring som gir eksportinntekter tilsvarende til det vi ønsker å importere. Å starte en omstilling mot nye næringer så tidlig som mulig virker som en framtidsrettet vei å gå.</p>
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Oljefondet">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/oljefondet/nor/oljefondet.pdf">som pdf</a>
