<!-- (php # 2 2019-09-29 Om hundre år) -->
<!-- ($attrib_AC=0;) -->
<h1 id="om-hundre-år">Om hundre år</h1>
<p><em>Av: Pål Saugstad / 2019-09-29 23:17:35</em></p>
<p>Jeg så noe uventet på Youtube for ikke så lenge siden. En video med tittel &quot;Pers økonomihjørne&quot; fanget min oppmerksomhet. Jeg startet den, og der var det bare en fyr som så inn i kameraet. Per, vil jeg anta. Det viste seg at han tydeligvis også trodde at han så en Youtube-video, av - meg.</p>
<ul>
<li><strong>Jeg:</strong> Hei...</li>
<li><strong>Per:</strong> Hvem er du?</li>
</ul>
<p>Merkelig, toveis kommunikasjon via Youtube?</p>
<ul>
<li><strong>Jeg:</strong> Streamer du på Youtube?</li>
<li><strong>Per:</strong> Youtube? Den tjenesten ble jo lagt ned for, hva var det, for 50 år siden?</li>
<li><strong>Jeg:</strong> Når sa du? Youtube er jo ikke 50 år ennå.</li>
<li><strong>Per:</strong> Youtube-æraen varte i 50 år, og ble irrelevant i 2055, for da tok jo de ideelt drevne platformene helt over, etter modell av Wikipedia.</li>
<li><strong>Jeg:</strong> Hva? Er du liksom i år 2105?</li>
<li><strong>Per:</strong> Ikke tull, vi er i 2106.</li>
</ul>
<p>Videoen hans var faktisk datert 14. februar 2106, lastet opp for -87 år siden ...</p>
<p>Jeg ble virkelig forvirret. Hvis ikke Youtube finnes lenger i 2106, hvordan havnet denne streamen her? Eller, kanskje han bare tuller med meg? Hvis han virkelig var i 2106, kunne jeg kanskje fritte ham ut for noen av de historiske øyeblikkene som ligger foran oss.</p>
<ul>
<li><strong>Jeg:</strong> Ja, ja, Per, naturligvis.. Hvordan var det nå igjen at økonomien i Norge led etter at oljen tok slutt?</li>
<li><strong>Per:</strong> Økonomien er jo helt grei uten olje? Det var litt av en omveltning i hele verden på 2030-tallet. Det var omtrent da det gikk opp for folk at hele verden kom til å stagnere, slik som Japan gjorde allerede fra 1990-tallet.</li>
<li><strong>Jeg:</strong> Sant nok, men dette førte jo til at ulikhetene som bygget seg opp på 2020-tallet bare aksellererte videre helt ute av kontroll, som igjen førte til sosial uro og borgerkriger flere steder..</li>
<li><strong>Per:</strong> Hvilken &quot;fake history&quot; har du lest egentlig? Ja, jo, uro og opprør ble det jo, men helt katastrofe ble det ikke, da, og situasjonen ble stabilisert forbausende fort. Man måtte bare gjøre det beste ut av realitetene. Folkebevegelsene som startet omtrent samtidig, &quot;Skolestreik for klimaet&quot; og &quot;Gule vester&quot; ble forenet og vokste.</li>
<li><strong>Jeg:</strong> Joo, men det var da veldig overraskende at grupper med såpass forskjellig utgangspunkt kunne få en felles plattform?</li>
<li><strong>Per:</strong> Ja. Til tross for stort gruppepress fra universitetsmiljøer om å forsvare de gode gamle økonomiske teoriene, var det noen få økonomiprofessorer som innså at tidligere tiders økonomisk tenkning rett og slett ikke kunne svare på problemene de så komme.</li>
<li><strong>Jeg:</strong> Problemer med økende ressursforbruk og økende ulikhet, mener du?</li>
<li><strong>Per:</strong> Ja. Flere ble etterhvert oppmerksomme på visdommen i boka til Dag Andersen, &quot;Det 5. trinn&quot; og sammenhengen med det som Karl Polanyi beskrev i en enda eldre bok, &quot;The Great Transformation&quot;.</li>
<li><strong>Jeg:</strong> De bøkene har jeg også lest... Hvilken sammenheng tenker du på da?</li>
<li><strong>Per:</strong> Andersen viser hvordan menneskeheten går gjennom forskjellige faser. Fra den industrielle revolusjonene og fram til ca. 2020 var menneskehetens ungdomstid, med en heller sprelsk og ekspansjons-villig oppførsel, mens nå er vi omtrent helt over i en mer moden, eller voksen og reflektert epoke. Polanyi beskriver hvordan økt verdenshandel er fredsbevarende, helt til de store aktørene, &quot;storkapitalen&quot; som han kaller dem, får problemer med å finne nye markeder for varene sine. Fra da av oppstår det problemer i og med at storkapitalen ikke ser poenget med at freden skal bevares. Dette tilspisset seg på begynnelsen av 1900-tallet med både finanskrise og verdenskriger som resultat. Selvom det så ut til at historien skulle gjenta seg i første del av 2000-tallet, klarte man heldigvis å unngå en fullstendig katastrofe. Finanskrisen i 2008 var jo en vekker for mange, og eksperimenter med kvantitative lettelser og andre penge-politiske virkemidler holdt situasjonen på sett og vis under kontroll en stund. Men det var først når topp-økonomene hadde tvilt seg fram til at evig økonomisk vekst antakelig ikke kunne fungere likevel at det ble fart på idémyldringen som etter hvert ga grunnlaget for den nye økonomiske teorien.</li>
<li><strong>Jeg:</strong> Apropos verdenshandel, Keynes oppfordret jo også til at mesteparten av varene burde være hjemmelagde. Keynes anses jo for å være en betydningsfull økonom også idag, ikke sant?</li>
<li><strong>Per:</strong> Vel, mye av det Keynes hevdet tillegges jo vekt selv idag, men hans teorier ble utviklet for snart 200 år siden, så problemene som økonomisk teori skal løse har jo endret seg betydelig. Han la betydelig vekt på metoder for å fortsette den økonomiske veksten, for eksempel. De siste 80 årene har det vært lagt ned betydelig forskning for å finne svar på hvordan ulikhetene kan holdes under kontroll samtidig som vi ikke har økonomisk vekst. Sånn sett er Thomas Pikettys enkle formel, at veksten må være høyere en renten for at ikke ulikhetene skal øke heldigvis gjort til skamme.</li>
<li><strong>Jeg:</strong> Eh, ja? Hva var det som var utslagsgivende igjen...</li>
<li><strong>Per:</strong> Ja, det er vel ikke noe entydig svar på dette, men forståelsen av penger og betydningen og virkningen av fond og obligasjoner i forhold til gjeldsoppbygging står vel sentralt, samt et nytt syn på finansielle instrumenter som brobygger mellom nåtid og framtid.</li>
<li><strong>Jeg:</strong> Ja, det at private banker skaper penger når de yter lån er jo innarbeidet i lærebøker i økonomi nå.</li>
<li><strong>Per:</strong> Ja, men den neste erkjennelsen, som kom for fullt på 2040-tallet, såvidt jeg husker, at all form for penge-utvidelse har et her-og-nå-perspektiv var viktig. Diskonteringsberegninger kom man jo fram til at var en metode med store svakheter. Resultatet av beregningene blir forskjellige hvis man endrer en sentral parameter, diskonteringsrenten. Den settes etter skjønn, mer eller mindre. Slike metoder kaller vi gjerne kvasi-vitenskap idag. Erkjennelsen av at økonomisk vitenskap ikke kan ses på som en regnemaskin som man kan fore med data, og forvente at maskinen skal gi det riktige svaret, har nok vært viktig. Det går jo litt på tvers av det Keynes utviklet i sine teorier. Han lagde på sett og vis en slik maskin i form av hva myndighetene kunne gjøre for å motvirke nedgangskonjunkturer. Det er bare det at alt er så mye enklere dersom det faktisk er mye igjen å gjøre. Å skalere opp går mye mer smertefritt enn å skalere ned, selvom, eller nettopp fordi, oppskalering fører til at man må jobbe mer, mens nedskalering at man må slappe mer av.</li>
<li><strong>Jeg:</strong> Men konkurranse-mentaliteten, og ønsket om å være nasjonen som har de sterkeste økonomiske musklene er jo en menneskelig egenskap som faktisk er helt avgjørende for at menneskeheten ikke skal visne bort.</li>
<li><strong>Per:</strong> Ja, men de samme egenskapene, som fungerer til menneskenes fordel når man lever på en tilnærmet uendelig stor jordklode med uendelige natur-ressurser, funker ikke så bra når kampen om ressursene tilspisser seg. Folk fra alle lag av befolkningen og på tvers av alle landegrenser, støttet etter hvert kravene om lavere ressursforbruk og mer rettferdig fordeling. Det gjorde inntrykk at dette ble en internasjonal bevegelse og at folk med vidt forskjellig bakgrunn fant sammen. Bevegelsen økte i størrelse fra den spede begynnelsen på 2010-tallet.</li>
<li><strong>Jeg:</strong> Interessant, men mye av det som er moro her i livet krever jo mye ressurser, både materialer av forskjellige slag og ikke minst energi.</li>
<li><strong>Per:</strong> Sant nok, og livet nå i 2106 ville nok blitt ansett for å være ganske kjedelig sett fra perspektivet til de som levde før paradigmeskiftet. Den gangen sløste man virkelig med ressursene, i alle fall i den privilegerte delen av verden. Jeg har sett beregninger på et energiforbruk helt hinsides all forstand, det var vel noe sånt som 270 GJ pr. person pr. år i Norge på det høyeste, fullstedig sprøtt etter dagens standard.</li>
<li><strong>Jeg:</strong> Så du skulle ønsket at du levde hundre år tidligere, du da?</li>
<li><strong>Per:</strong> Nei, man lever jo i den tiden man lever, og må gjøre det beste ut av det. Livet er ikke så oppjaget som det var før. Keynes spådde at arbeidstiden skulle gå ned, og det har den gjort: Mange arbeider bare 4 dager i uken nå.</li>
<li><strong>Jeg:</strong> Men produktiviteten må jo øke hele tiden, det er noe som alle vet?</li>
<li><strong>Per:</strong> Da må vi tilbake til Dag Andersen igjen. I en moden og reflektert verden har man jo ikke behov for alskens mulige nye duppeditter. Masseproduksjon foregår på enkelte områder fortsatt, som for eksempel matproduksjon, men ellers er det mye småskala-produksjon som har tatt over, ikke minst pga. 3D-printerene som har blitt såpass gode at de kan framstille nærmest enhver reservedel i ethvert ønskelig materiale. Bare tenk på hvor ille klima-endringene hadde blitt hvis det ikke var for at vi fant oppskriften på hvordan vi måtte innrette oss uten å nødvendigvis hele tiden finne på nye aktiviteter for at kravet om økonomisk vekst skulle bli oppfylt.</li>
</ul>
<p>Merkelig sammentreff. Dette er ting jeg har fundert over selv endel også, men Per kan si det med en mye større grad av troverdighet i og med at han faktisk allerede har opplevd det.</p>
<ul>
<li><strong>Jeg:</strong> Ja den ja.. Minn meg på den oppskriften, er du snill...</li>
<li><strong>Per:</strong> Si meg, har du ikke fulgt med i timen i det siste, eller?</li>
<li><strong>Jeg:</strong> Ja, for kapitalisme var jo en dårlig idé...</li>
<li><strong>Per:</strong> Altså, kapitalismen var veldig flink til å skape vekst. Den kommunistiske kommando-økonomien hadde også som mål å skape vekst. Det vi har nå er hverken ren kapitalisme eller ren kommando-økonomi, men et slags distribuert system. Hovedpoenget med å drive en bedrift er ikke lenger at den skal vokse seg stor. Det at samfunnet og økonomien og markedet må reguleres via et demokratisk vedtatt lovverk er jo noe de fleste forstår.</li>
<li><strong>Per:</strong> For hundre år siden var det jo bare noen få varer det var innført reklamerestriksjoner for.</li>
<li><strong>Jeg:</strong> Ja, det var vel tobakk og alkohol, det. Men folk klarte jo å skaffe seg disse varene likevel.</li>
<li><strong>Per:</strong> Nettopp. Dette prinsippet ble videreført til stadig flere varegrupper. Først ute var all type drikker, samt kjøtt-produkter. Dette var et viktig skritt i retning av at markedet faktisk måtte klare seg &quot;på egen hånd&quot;. Deretter kom reklame-restriksjonene på alle mat-produkter og alle former for turisme. Etterspørselen gikk ned, og produsentene måtte nedskalere. Dette var tvingende nødvendig for å stagge ressurs-sløsingen.</li>
<li><strong>Jeg:</strong> Det der gir ingen mening. Alt må jo vokse, alt avhenger av det. Pensjonsfond for eksempel. Dersom ikke pensjonsfondene investerer i børs-vinnerene, så går jo hele økonomien over ende. Og uten vekst kommer mange aksjer og verdipapirer til å bli null verdt.</li>
<li><strong>Per:</strong> Nettopp! Det var jo den erkjennelsen man begynte å ta på alvor på 2020-tallet. Da fant en ut at sparing i fond egentlig er en veldig dårlig idé. Omfordeling av kjøpekraften innen samtiden, ikke framover i tid ble løsningen på dette. Den offentlige pensjonen var et pay-as-you-go-system. Den private pensjonssparingen førte i realiteten også til at kjøpekraft ble kanalisert bort fra økonomien, så inndragning av kjøpekraft i form av skatter eller i form av pensjonssparing kom jo stort sett ut på det samme. Forskjellen var at ved pay-as-you-go er det ingen fare for at oppsparte midler forsvinner i dårlige investeringer. Man innså at økonomien stagnerte, og at det var mye sikrere å stole på at generasjonene tok vare på hverandre direkte, enn at det skulle skje uten friksjon når midlene gikk via finans-sektoren.</li>
<li><strong>Per:</strong> Vi har sluttet å måle framgang ved å se på økningen i BNP. Nå måler vi fysiske ting, som antall kvadratmeter bolig pr. person, antall fengslede pr. 1000 innbygger, energiforbruk pr. person pr. år og slikt. Dessuten er det ikke ansett å være optimalt at alt skal være størst mulig lenger. Passe mye og noenlunde jevnt fordelt er det nye mottoet.</li>
<li><strong>Jeg:</strong> Det er jo ikke lett å bli enige om hva som er passe mye da!</li>
<li><strong>Per:</strong> Nei, dette er det uendelig med diskusjoner rundt. De fleste politiske partier har jo lagt seg på et gitt nivå: Optimalt antall kvadratmeter bolig pr. persjon, for eksempel, men tallene spriker avhengig av hvem du spør. Det som foreløpig er nytt er erkjennelsen av at ting faktisk har et optimalt punkt som er lavere enn det maksimalt tenkelige. Det er jo også flere økonomer som har lagt dette inn i teoriene sine.</li>
<li><strong>Jeg:</strong> Men dette har jo vært med i økonomisk teori omtrent alltid? Det framkommer som krysspunktet mellom tilbud og etterspørsel i tilbud-etterspørsels-diagrammene?</li>
<li><strong>Per:</strong> Altså, diagrammene gjelder jo på kort sikt. Den nye teorien tar for seg hvordan skiftet i etterspørselen utvikler seg over tid, og hvorfor dette skiftet ikke nødvendigvis alltid vil gå mot høyere verdier. Som én av dagens økonomer uttrykker det: Markedene fungerer og er selvregulerende, bortsett fra at det å skalere opp er mye &quot;hyggeligere&quot; og enklere enn det å skalere ned. Hun har nettopp fyllt 80 år, forresten...</li>
<li><strong>Jeg:</strong> Ja, hun ble født i 2026. Hva er det nå hun heter igjen.</li>
<li><strong>Per:</strong> Nei, hva var det nå igjen...</li>
<li><strong>Jeg:</strong> Ha! Du kan umulig være i 2106, du er nok i 2019, akkurat som jeg, og bare finner på alt sammen!</li>
<li><strong>Per:</strong> Auda, avslørt... Du skjønner, jeg tror at man til en viss grad kan &quot;snakke seg til&quot; en bedre framtid. Hvis du leser regjeringenes perspektivmeldinger, så ser det ut til at framtiden virkelig er noe å grue seg til. Det ser ikke lyst ut når det gjelder sosial uro kontra en miljømessig bærekraftig framtid heller. Og vi har faktisk økonomisk stagnasjon i de rikeste landene. Det er et faktum og antakelig noe vi må leve med. Så da må vi fokusere på de riktige tingene, ikke prøve å kick-starte en ny vekst igjen, men heller finne ut av hvordan vi kommer oss videre uten vekst. Vi har ikke andre muligheter enn å sette igang fantasien. Kunnskap om det teoretiske grunnlaget som brakte oss hit er helt nødvendig å ha. Men vi finner nok ikke veien videre uten å stille spørsmål ved det som er etablerte &quot;sannheter&quot; idag.</li>
<li><strong>Jeg:</strong> Hm, nei, det gjør vi nok ikke. Men, hvem er du egentlig, da, siden du ikke er Per fra år 2106?</li>
<li><strong>Per:</strong> Jeg er bare en av dine fantasifigurer, er jeg redd for.</li>
<li><strong>Jeg:</strong> Virkelig? Jeg som nesten begynte å tro på at du fantes... Hvorfor har jeg &quot;funnet opp&quot; deg, da liksom?</li>
<li><strong>Per:</strong> Antakelig er det slik du tenker til daglig, muligens for at framtiden ikke skal virke så dyster.</li>
<li><strong>Jeg:</strong> Fordi det kan være nyttig å tenke seg hvordan man ønsker at framtiden skal bli, mener du? Og se på hvilke endringer som må gjøres nå for å øke sannsynligheten for at man kommer seg dit?</li>
<li><strong>Per:</strong> Nettopp. Og så er det det der essayet som du tenkte å skrive, da, til den konkurransen om framtidsvyer i tråd med essayet til John Maynard Keynes &quot;Economic Possibilities for our Grandchildren&quot; som Klassekampen og Kåkånomics inviterte til. Vel, vel. Lykke til med det, da...</li>
</ul>
<p>Svært så pessimistisk Per plutselig ble da? Flere burde tenke som Espen Askeladd i eventyrene og samle på nye idéer: Hvem vet, det kan jo tenkes at vi får bruk for dem en vakker dag!</p>
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Om hundre år">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/omhundrear/nor/omhundrear.pdf">som pdf</a>
