<!-- (php # 2 2019-06-25 Oljefondet/pubmøte) -->
<!-- ($attrib_AC=0;) -->
<h1 id="trenger-vi-oljefondet">Trenger vi oljefondet?</h1>
<p><em>Av: Pål Saugstad / 2019-06-25 23:58</em></p>
<h2 id="tema-for-pubmøte">Tema for pubmøte</h2>
<p>(Tirsdag 25. juni for medlemmer av Rethinking Economics Norge, på <a href="https://www.bruketoslo.no/">Bruket i Schweigaards gate 34C</a> fra kl. 18.00. <a href="https://saugstad.net/kontakt">Pål Saugstad</a> og <a href="https://rethinkingeconomicsnorge.com/om-oss/roman-eliassen/">Roman Eliassen</a> holder innledninger.)</p>
<p>Norge har 9000 milliarder kroner på bok, i Oljefondet. Hvilke fordeler og ulemper gir det oss? Det offisielle navnet som fondet nå har, &quot;Statens Pensjonsfond Utland&quot;, er etter manges mening en rettesnor for hvordan fondet skal brukes. Man ser på det som en sparegris som skal komme fremtidige generasjoner til gode. Men gir det egentlig mening?</p>
<p>Kommer disse pengene noen gang til å bli øremerket til utbetaling av pensjon? Eller kan vi på andre måter dra nytte av dem, ved å importere varer fra utlandet - og i så fall, hvilke virkninger vil det få for norsk økonomi? Hva med handlingsregelen, er det en fornuftig rettesnor for &quot;oljepengebruk&quot;?</p>
<p>På dette pubmøtet ønsker vi å diskutere alle disse spørsmålene. Hva gjør vi med Oljefondet - og hva gjør Oljefondet med oss?</p>
<h2 id="innledning">Innledning</h2>
<p>Jeg tror det er viktig å reflektere over hva vi driver med når vi leter etter stadig mer olje, og hva det gjør med oss at vi har et stadig økende oljefond. Her er tre konkrete problemstillinger rundt Oljefondet som jeg mener ikke blir diskutert i tilstrekkelige grad:</p>
<ul>
<li>Oljefondet kan ikke betraktes som en sparegris for framtidige generasjoner</li>
<li>Oljefondet kommer aldri til å bli brukt til å betale ut pensjoner, så navnet Statens Pensjonsfond er misvisende</li>
<li>Handlingsregelen bør revurderes. Tilførsel og uttak av midler i fondet bør styres med utgangspunkt i drifts-balansen med utlandet.</li>
</ul>
<p>30. april i år startet Civitaøkonomen Steinar Juel opp en diskusjon rundt <a href="https://www.civita.no/publikasjon/formuesfordelingen-i-norge-er-ikke-skjev">formuesfordelingen</a> i Norge. Etter hans måte å regne på så er ikke formuesfordelingen i Norge så skjev. Han tenkte seg da at oljefondet bør regnes som om det er fordelt flatt til alle husholdninger. Det ble en diskusjon via div. aviser med div. økonomer. Han fikk ikke overveldende støtte for denne måten å regne på, for å si det slik.</p>
<p>Jeg mener at den beste måten å betrakte dette på er som følger: Når vi snakker om hele vår nasjons felles formue ovenfor utlandet, så er det forholdet mellom nordmenn og folk fra andre nasjoner vi må sammenlikne. Det er slik at den fordelen vi som nordmenn har, blir en tilsvarende ulempe for alle andre, nøyaktig på samme måte som med all formue som er fordelt skjevt. Den reelle fordelen vi her snakker om, er at fondet, og avkastningen på det gir oss nordmenn økt kjøpekraft av utenlandske varer og tjenester. Dette er faktisk et tveegget sverd.</p>
<p>Hvis en nasjon har en naturressurs eller generelt er flittige og arbeidsomme, så vil nasjonen ofte eksportere mer enn den importerer. Dette overskuddet kan brukes til å betale ned gammel gjeld til utlandet. Deretter, hvis man fortsetter netto eksport, kan man begynne å investere i utenlandske aksjer, verdipapirer og eiendom.</p>
<p>Nasjonen velger altså å sysselsette flere enn den trenger for egen drift. Noe av landets arbeidskraft går med til produksjon for utenlandske forbrukere som genererer en pengestrøm tilbake. Dette overskuddet <em>kan</em> brukes til å importere varer som vi overlater til utlandet å produsere. Dette vil i så fall føre til at det blir mindre behov for innenlandsk arbeidkraft på disse andre områdene. Denne erkjennelsen, tap av arbeidsplasser, fører ofte til at man ikke går inn for en balansert handel, men heller prøver å være netto eksportør. Man må bygge opp et utenlandsfond for å kompensere for denne ubalansen.</p>
<p>Dette er i praksis bare å forskyve problemet med innenlandsk arbeidsløshet framover i tid. Den dagen man begynner med netto import og dermed kan bruke av fondet, vil man samtidig minske behovet for innenlandske arbeidsplasser. Ut fra dette perspektivet vil framtidige generasjoner ikke nyte særlig godt av et stort utenlandsk fond; det vil kun føre til høyere arbeidsløshet, hvis vi går inn for å bruke det opp.</p>
<p>Riktignok sies det at vi aldri skal bruke opp fondet. Vi skal bare bruke avkastningen av det. Her har jeg ikke noen økonomiske betrakninger som tilsier at vi ikke kan gjøre det slik, men virker det moralsk sett riktig, fornuftig og rettferdig at noen land ensidig skal ha formue i andre land for evig og alltid? Klaus Mohn og Arne Jon Isachsen er, slik jeg tolker dem, usikre på dette.</p>
<p>Klaus Mohn, professor i petroleumsøkonomi ved Universitetet i Stavanger og NHH, skrev i Stavanger Aftenblad i mai 2017: <a href="https://www.aftenbladet.no/meninger/kommentar/i/gMRqa/Klaus-Mohn-Gje-vekk-Oljefondet">&quot;Gje vekk oljefondet?&quot;</a></p>
<p>&quot;Det er jo i hovudsak tale om pengar på linje med ein tippepremie, og ikkje ein rikdom me har opparbeidd fordi me er meir dugelege enn andre. Så då kan ein vel like gjerne dele med dei som har hatt mindre flaks. Konsekvensen er ikkje verre enn at kvar og ein av oss må arbeide nett like mykje som nabolanda våre for å halde inntekter og velferd på eit tilsvarande nivå.&quot;</p>
<p>Arne Jon Isachsen, professor i samfunnsøkonomi ved BI, skriver i Aftenposten i april 2019:</p>
<p>&quot;<a href="https://www.aftenposten.no/meninger/debatt/i/Wb0VJr/Oljefondet-er-penger-tjent-pa-bekostning-av-noe-Bor-vi-opprette-Statens-fond-til-bekjempelse-av-global-oppvarming--Arne-Jon-Isachsen">Oljefondet er penger tjent på bekostning av noe.</a> Bør vi opprette 'Statens fond til bekjempelse av global oppvarming'?&quot; Han tenker seg at noe av fondet bør overføres til SFBGO med sikte på å støtte norsk og internasjonal forskning for å bekjempe den globale oppvarmingen.</p>
<p>Jeg tror de to professorene er inne på noe. Man kan også tenke seg at fondets midler går til direkte investeringer i &quot;grønn&quot; infrastruktur i utlandet. Kravet til avkastning bør også revurderes: Å investere i grønn infrastruktur, selv med tap, kan være en vel så god idé som å bare investere i selskaper som har utsikter til høy avkastning.</p>
<p>I Juels framstilling av formuesulikheter bruker han navnet Statens Pensjonsfond nokså konsekvent, og har oppfattelsen av at fondet skal brukes til utbetalinger av pensjoner i framtiden.</p>
<p>Og det er dette som er problemet: Det snakkes mye om hvordan en kan tenke seg å bruke fondet, og navnet på fondet gir assosiasjoner om hva slags formål det har, men dette er ikke basert på hverken økonomisk teori eller økonomisk praksis, det er mest av alt bare en assosiasjons-lek.</p>
<p>Ingen dokumenter jeg har funnet gir noen retningslinjer for hvordan vi skal over til et system der fondets midler blir utbetalt i pensjoner. De fleste økonomer bruker da også som regel det mer dekkende navnet &quot;Oljefondet&quot;.</p>
<p><strong>Handlingsregelen</strong> bør etter mitt syn skiftes ut med en mekanisme som tar i betrakning driftsbalansen med utlandet. Så lenge vi har mer eksport enn import, og positiv rente- og stønads-balanse, bør utenlands-fondet styrkes. Det er her Hollandsk syke kommer inn i bildet. Det sies at oljefondet og handlingsregelen motvirker Hollandsk syke til en viss grad. Man diskuterer da forholdet innen industri-utvikling/avvikling og størrelsen på velferdsordningene sett i forhold til oppbygging og bruk av utenlandsfondet.</p>
<p>En annen mekanisme som etter min mening også er interessant, er forholdet mellom vår felles formue og privat formue. Norges Bank utgir hvert år <a href="https://www.norges-bank.no/aktuelt/nyheter-og-hendelser/Publikasjoner/det-norske-finansielle-systemet/2019/">Det norske finansielle systemet</a>. Dette er et stort dokument, og her er en interessant formulering:</p>
<p>&quot;Når inntekten øker i et samfunn, er det en tendens til at både gjeld og finansielle fordringer øker enda mer&quot;. Dette går jo rett inn i kjernen av det flere forfattere har skrevet om når det gjelder økende ulikheter. I Norges Banks dokument så gis det ingen forklaring på <strong>hvorfor</strong> det er slik, eller hvordan vi kan klare å snu denne tendensen.</p>
<p>Jeg tror at forhold rundt oljefondet og hvordan dette disponeres kan gjøre denne tendensen enda verre. Dersom man lar handlingsregelen være for romslig, vil det bli tilgjengelig 'for mye' utenlandsk valuta i Norges Bank. Denne valutaen kan tenkes å bli etterspurt av norske husholdinger, bedrifter og kommuner til å flytte formue fra Norge til utlandet. Så dersom, la oss si, at de rikeste får skatteletter, så kan det tenkes at det finnes ledige midler som kan bli investert. Det som da også skjer er at gjeldsmengden øker i forhold til pengemengden. Det kan skje når sammensetningen av de finansielle fordringene, forholdet mellom penger og verdipapier, går i retning av mindre andel av penger og større andel verdipapirer.</p>
<p>Så resultatet er at hvis man overfører for mye av oljefondet over til statsbusjettet, mer enn man burde tatt i betraktning driftsbalansen, så kan dette resultere i oppbygging av private formuer i utlandet, samt økt gjeldsgrad. Det første høres vel ikke så usannsynlig ut. Det siste, økt gjeldsgrad, kan jeg argumentere for vha. et notat Norges Bank har laget. Her gjøres en grundig innføring av virkningen på pengemengden og gjeldsmengden ved forskjellige bank- og verdipapirtransaksjoner: <a href="http://www.norges-bank.no/contentassets/8716a00c7c4f421fbd854400c4b534c2/staff_memo_2013_14.pdf">Marie Norum Lerbak (Norges Bank), Om pengemengden, 2013</a>.</p>
<p>Noen sluttbemerkninger før Roman får ordet:</p>
<p>Norge er en olje- og gass-produsent. Oljefondet har hatt og har en viktig rolle for å kompensere for at vi har eksportert mer varer og tjenester enn vi har importert. Oljevirksomheten gir utvilsomt mange positive ringvirkninger i form av virksomheter knyttet til oljen. Overgangen fra å være oljeeksportør til å bli et vanlig land med nær null i driftsbalanse med utlandet kommer til å bli krevende, selvom det muligens er lenge til dette skjer.</p>
<p>Men jeg tror det er viktig å venne seg til dette jo før jo heller: Det er antakeligvis helt feil at vi trenger overføringene fra oljefondet for å opprettholde velferdsstaten. Jeg mener også at en viss grad av planlegging er fornuftig. En plan med et tids-anslag for når og hvordan vi skal avvikle oljeindustrien, og hva vi skal erstatte den med, synes jeg høres ut som en god idé.</p>
<hr />
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Trenger vi oljefondet?">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/trenger-vi-oljefondet/nor/trenger-vi-oljefondet.pdf">som pdf</a>
