<!-- (php # 2 2017-11-19 Ulikhet) -->
<!-- ($attrib_AC=0;) -->
<h1 id="selvforsterkende-ulikhet">Selvforsterkende ulikhet</h1>
<p><em>Av: Pål Saugstad / 2017-11-19 13:59</em></p>
<p>Ulikhet i økonomisk forstand har å gjøre med statistiske forskjeller når det gjelder lønnsinntekter og formue i hele befolkningen i et område. De fleste er enige i at det ikke bør være for store forskjeller på folk, men også at det bør være noe forskjell: Mer ansvarsfulle stillinger (f. eks.) kan gjerne være lønnet noe høyere enn andre.</p>
<p>I <a href="http://www.norges-bank.no/Publisert/Publikasjoner/det-norske-finansielle-systemet/2017/">Det norske finansielle systemet, Norges Bank, 2017</a> står det: <em>&quot;Når inntekten øker i et samfunn, er det en tendens til at både gjeld og finansielle fordringer øker enda mer. I Norge er den samlede gjelden til privat sektor og kommunene (K3) målt som andel av verdiskapingen mer enn tredoblet siden 1946&quot;</em></p>
<p>Ett makroøkonomisk problemområde er altså den økende private gjelden. I de fleste utviklede økonomiene har vi samme tendens. De fleste kobler dette til bolig-prisene, og konstaterer at bankene låner ut store mengder penger som følge av at husprisene stiger. Dette er jo ikke direkte feil, men man kan jo like gjerne snu det på hodet å si at husprisene stiger fordi bankene slakker på kravene til inntekt i forhold til lån, som så fører til at husprisene øker. Hva som er høna og hva som er egget her, er ikke enkelt å bli klok på.</p>
<p>I hvilken grad kan man så koble økende gjeld til økende ulikhet? I <a href="http://privatedebtproject.org/view-articles.php?The-Risks-of-Rising-Household-Debt-in-Norway-34">The Risks of Rising Household Debt in Norway</a> beskriver <a href="https://rethinkingeconomicsnorge.com/ebba-boye/">Ebba Boye</a> det slik: <em>&quot;the housing market has become one of the largest generators of inequality in the Norwegian society&quot;</em>.</p>
<p>Jeg ønsker å trekke fram en helt annen sammenheng: De mest velstående kjøper i økende grad verdipairer fra banksektoren, og dette fører faktisk til minket pengemengde sett i forhold til kredittmengden! Denne sammenhengen er beskrevet i disse rapportene: <a href="http://www.norges-bank.no/contentassets/8716a00c7c4f421fbd854400c4b534c2/staff_memo_2013_14.pdf">Marie Norum Lerbak (Norges Bank), Om pengemengden, 2013</a> og <a href="http://www.norges-bank.no/en/Published/Papers/Staff-Memo/2012/Staff-Memo-282012/">Sigbjørn Atle Berg (Norges Bank), The declining deposit to loan ratio - What can the banks do?, 2012</a></p>
<p>Når publikum kjøper spareprodukter fra banksektoren, som f. eks. andeler i pensjonsfond, fører dette til lekkasje av penger ut av pengeholdende sektor uten at gjelden i samfunnet reduseres tilsvarende. Det samme skjer når privat formue (fra enkeltpersoner eller foretak) blir flyttet utenlands, f. eks. til skatteparadiser. Dette fører altså til større misforhold mellom gjelden i samfunnet og formue i form av penger. Siden pengemengden og BNP følger hverandre, eller sagt på en annen måte, siden oppsparte midler i fond er størknet formue og dermed ikke kan bidra i BNP-sammenheng, som jo er et målesystem for dynamikken i økonomien, så vil følgelig sparing i form av fond og skatteparadiser føre til et økt misforhold mellom gjeld og BNP. Det er jo i første rekke de rikeste som har råd til å spare i fond. Den samlede gjelden i samfunnet øker mao. (grovt sagt) fordi den rike delen av befolkningen sparer.</p>
<p>Paradokset her er at etterhvert som vi (noen av oss) blir rikere, så har vi større evne til å spare. Instinktivt antar vi gjerne at all sparing er bra. Men nei: Sparingen forskyver forholdet mellom pengemengden og gjeldsmengen på en slik måte at gjeldsmengden øker. Siden det er de rikeste som har mest evne til å spare, fører dette til ytterligere ulikhet. Og slik har vi det gående i en selvforsterkende spiral.</p>
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Ulikhet">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/ulikhet/nor/ulikhet.pdf">som pdf</a>
