<!-- (php # 2 2017-07-23 Vestlige verdier) -->
<!-- ($attrib_AC=0;) -->
<h1 id="vestlige-verdier">Vestlige verdier</h1>
<p><em>Av: Pål Saugstad / 2017-07-23 20:28</em></p>
<p>Jeg lurer på, jeg, hva <em>vestlige verdier</em> er. Noen politikere bruker begrepet oftere enn andre. Erna Solberg har brukt det ved flere anledninger. Det høres jo flott ut da, tenk, <em>verdier</em>, og så attpå til <em>vestlige</em>! Hvis en sjekker norske wikipedia, så blir en ikke klokere, der finnes det ingen artikkel om <em>vestlige verdier</em>. I den engelske utgaven finnes <em>Western thought</em>, og denne reflekterer omtrent samme frustrasjon over begrepet som jeg har selv.</p>
<p>Det hele er liksom så ullent, ingen sier konkret hva de mener med <em>vestlige verdier</em>, annet enn kanskje ytringsfrihet og menneskerettigheter og slikt. Men det må jo omfatte noe mer! Lover og regler for hvordan hele samfunnet fungerer må da vel kunne trekkes inn i verdi-grunnlaget vårt?</p>
<p>For eksempel reglene for hvordan bank- og finaniserings-systemene fungerer. I noen samfunn og kulturer er jo renter og gjeld ikke stuerent. Men i den vestlige verden er det <em>helt</em> OK, virker det som. Det finnes knapt noen mekanisme i vår kultur som er mer infiltrert uansett hvor du snur deg enn gjeld og renter. For det å tjene penger på andres mer eller mindre veloverveide behov for å skaffe seg 'stuff' er helt OK. Gjeld fra enkelt-personer kan jo til og med pakkes inn i nye &quot;finansielle instrumenter&quot; og selges videre til andre investorer helt til man har mistet fullstendig oversikten. Slike transaksjoner er visstnok veldig bra, for da kan jo <em>markedet</em> avgjøre <em>riktig pris</em>, og <em>det</em> er veldig viktig, og en <em>vestlig verdi</em> som vi må omfavne alle sammen, tydeligvis.</p>
<p>Og hva med det å ta vare på hverandre, det kommer vel et stykke ned på listen over <em>vestlige verdier</em>. Kommer ikke egoisme høyere opp på listen tro? Ayn Rand og andre som setter individualisme og egoisme som et ideal, er ofte forbilder for politikere som liker å trekke fram <em>vestlige verdier</em>: Det er jo gjennom egoisme at vi kommer oss opp og fram her i verden.</p>
<p>Det gjelder å være best.</p>
<p>Det beste landet, som Tyskland, som har en stor og effektiv industri som ekporterer for store verdier hvert år. Eller som Norge, som har stor formue i utlandet i form av noe vi kaller <em>Pensjonsfond, utland</em>. Og hvis vi forvalter denne formuen riktig, sier økonomene med alvorlige ansikter, så kan vi høste av rentene fra fondet i all evighet, dere! Alle ser opp til land som lykkes slik som Norge og Tyskland. Alle vil bli som dem.</p>
<p>Det er makroversjonen av <em>Den Amerikanske Drømmen</em>. Enhver har mulighet til å bli best! Det er det som gjelder! <em>Det</em> er den <em>vestlige verdien</em> sin, det!</p>
<p>Vi trenger de rike, for de kan med sin rikdom sette igang nye hjul, så de rike må få skattelette, altså. Det er ikke så farlig at vi ikke helt ser hvilke hjul de skal sette igang nå. Bare de får litt mer penger å rutte med, så finner de nok på noe, helt sikkert, altså, for de vil jo helst bli enda rikere, ikke sant?</p>
<p>Men så kommer noen å tukler med verdiene. De sier f. eks. at atomvåpen ikke er så bra, at vi bør satse på å destruere dem alle sammen, og rett og slett klare oss uten. Akkurat som at vi ikke må være best på atomvåpen også, eller hva?</p>
<p>Og så Paris-avtalen da dere. En stor, stor selvmotsigelse. Akkurat som at vi skal bli best på å forårsake at en hel industri går i oppløsning? Hva blir det neste, Mat-kaste-lov kanskje? To tanker i hodet på én gang er visst veldig bra, og helt nødvendig. Jeg tror det må være en veldig sentral <em>vestlig verdi</em>, det å ha to tanker i hodet på én gang. Vi må ha fullt kjør på nye energi-løsninger i tillegg til olje og gass, men det betyr jo ikke at vi skal <em>slutte</em> med olje og gass! Hørt sånt tullprat, da gitt.</p>
<p><em>Atomvåpenforbud</em> og <em>Parisavtalen</em> er jo nokså konkrete prosjekter, og det skaper diskusjoner og forventninger, samhørighet og motsetninger.</p>
<p><em>Vestlige verdier</em> er ikke fullt så konkret. Det skal visst skape samhørighet og forventninger, har jeg forstått. Vi er visst enige om at det er veldig, veldig bra.</p>
<p>Men hva <em>er</em> det?</p>
<hr>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet?via=PalSaugstad&amp;text=Vestlige%20verdier">Tweet</a>
<br>
<a target="_blank" href="show?f=articles/parsed/vestlige-verdier/nor/vestlige-verdier.pdf">som pdf</a>
